html {
    content: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container__result {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
}

#squareSymbol {
    font-size: 25px;
    display: inline-block;
    color: #efeff3;
}

#text {
    display: inline-block;
    color: #efeff3;
}

#sumText {
    display: inline-block;
    color: #efeff3;
}

.btn {
    display: inline-block;
    vertical-align: top;
    color: #232833;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px #232833 solid;
    padding: 0.7em 2em;
    background: transparent;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

.btn--sm {
    padding: 0.6em 0.8em;
    font-size: 14px;
}

.btn__animate {
    position: relative;
    z-index: 100;
    overflow: hidden;
    transition: color 0.2s linear;
}

.btn__animate::before {
    width: 0;
    height: 100%;
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #232833;
    transition: 0.15s linear;
}

.btn__animate:hover {
    color: #efeff3;
}

.btn__animate:hover::before {
    width: 100%;
}

.btn__animate--gray:hover {
    color: #bbbbcc;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.details {
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.details__inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.detail__item {
    position: relative;
    width: 100%;
    height: 335px;
    border: 2px #efeff3 solid;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.detail__item:hover {
    box-shadow: 0 0 25px #d8d8e2;
    transform: translateY(-2px);
}

.details__img {
    width: 100%;
    height: auto;
    margin: 0;
}

.detail__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.content__transparent {
    width: 100%;
    height: 50%;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    transition: height 0.4s linear;
}

.content__transparent:hover {
    height: 85%;
}

.detail__info {
    background-color: #fff;
    padding: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.details__text {
    line-height: 1.6rem;
    padding: 0;
    color: #47525d;
    font-size: 16px;
    font-weight: 300;
    height: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details__title {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #232833;
    transition: color 0.1s linear;
}

.details__title:hover {
    color: maroon;
}

.details__btn {
    margin-top: auto;
    text-align: right;
}

.txt__input_quantity {
    float: left;
    height: 38.78px;
    width: 120px;
    padding: 5px;
    border: 3px #232833 solid;
}

.jumbotron {
    padding: 4rem 1rem;
    background-color: #232833;
    border-radius: 5px;
}

.calculate__btn {
    padding: 10px 0;
    height: 50px;
}

#search {
    height: 38.78px;
    font-size: 16px;
    width: 400px;
    padding: 5px;
    border: 3px #232833 solid;
}

.container__search {
    float: right;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.container__search input#search {
    width: 300px;
    height: 38.78px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #efeff3;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container__search input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container__search input#search:-moz-placeholder {
    color: #65737e;
}

.container__search input#search::-moz-placeholder {
    color: #65737e;
}

.container__search input#search:-ms-input-placeholder {
    color: #65737e;
}

.container__search button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: #232833;
    height: 38.78px;
    width: 38.78px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container__search:hover button.icon, .container__search:active button.icon, .container__search:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -38.78px;
}

.container__search:hover button.icon:hover {
    background: white;
}

@media (max-width: 1200px) {

    .container__result {
        max-width: 1000px;
    }

    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .details__inner {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .detail__item {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .details__text {
        line-height: 1.9rem;
    }

    .details__title {
        font-size: 18px;
    }

    .txt__input_quantity {
        height: 26.78px;
        width: 120px;
        padding: 5px;
        border: 3px #232833 solid;
        margin-bottom: 3px;
    }

    .btn--sm {
        padding: 0.4em 0.6em;
        font-size: 11px;
    }

    .container__result {
        max-width: 880px;
    }

    .container {
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .details__inner {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .detail__item {
        width: 100%;
    }
}

@media (max-width: 888px) {

    .details__title {
        font-size: 18px;
    }

    .txt__input_quantity {
        height: 29.59px;
        padding: 5px;
        border: 3px #232833 solid;
        width: 100%;
    }

    .btn--sm {
        padding: 0.4em 0.6em;
        font-size: 11px;
        float: left;
    }

    .container__result {
        max-width: 770px;
    }

    .container {
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .details__inner {
        gap: 15px;
    }

    .btn {
        font-size: 14px;
    }

    .btn--sm {
        font-size: 12px;
    }

    .details {
        padding: 70px 0;
    }

    .mobile-btn {
        width: 100%;
    }
}

@media (max-width: 777px) {

    .details__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media (max-width: 530px) {

    .jumbotron {
        padding: 3rem 1rem;
    }

    .container__search:hover button.icon, .container__search:active button.icon, .container__search:focus button.icon {
        margin-left: -30px;
    }

    .container__search button.icon {
        height: 30px;
        width: 30px;
    }

    #search {
        height: 30px;
    }

    .container__search input#search {
        height: 30px;
    }

    .nav {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }

    .btn--sm {
        font-size: 10px;
    }
}

@media (max-width: 420px) {

    .container__search input#search {
        width: 140px;
        height: 30px;
    }

    .container__result {
        max-width: 310px;
    }

    .container {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .details {
        padding: 20px 0;
    }

    .details__inner {
        grid-template-columns: 1fr;
        gap: 30px;
    }

}

@media (max-width: 380px) {

    .txt__input_quantity {
        height: 30px;
    }

    .container__search {
        width: 140px;
    }

    .details__inner {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .detail__info {
        padding: 5px;
    }

    .detail__item {
        height: 350px;
    }

    .btn {
        font-size: 10px;
        height: 30px;
    }
}
